@font-face {
  font-family: "poppinsBold";
  src: url(/src/font/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "GlaciaRegular";
  src: url(/src/font/GlacialIndifference-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/src/font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "GlacialIndifference-Bold";
  src: url(/src/font/GlacialIndifference-Regular.ttf);
}
@font-face {
  font-family: "Muli-Light";
  src: url(/src/font/Muli-Light.ttf);
}
@font-face {
  font-family: "Muli-Regular";
  src: url(/src/font/Muli-Regular.ttf);
}
@font-face {
  font-family: "roboto-Regular";
  src: url(/src/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-Light";
  src: url(/src/font/Roboto-Light.ttf);
}
@font-face {
  font-family: "Jaapokki-Regular";
  src: url(/src/font/Jaapokki-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1_txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Roca {
  font-size: 43px;
  font-family: "poppinsBold";
  padding: 30px;
}

.slider-txt span {
  font-size: 49.7px;
  font-family: "GlaciaRegular";
}

.email {
  font-size: 23.29px;
  font-family: "GlaciaRegular";
  text-decoration: none;
  color: black;
}

.slider-txt {
  font-size: 71px;
  font-family: "GlaciaRegular";
}

.slider-right-text {
  max-width: 582.07px;
}

.slider-part {
  margin-top: -90px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 200px;
  padding-top: 100px;
}

.section1_rightTxt {
  position: relative;
}

.aboutMe {
  top: 35%;
  font-size: 43px;
  position: absolute;
  font-family: "poppinsBold";
}

.aboutMe_01 {
  font-size: 158px;
  font-family: "poppinsBold";
  opacity: 0.7;
  padding: 0 30px;
}

.slider_img img {
  max-width: 1000px;
  width: 100%;
  margin-left: 70px;
  border-radius: 50%;
}

.container_1 {
  background-color: #dddddd;
  position: relative;
}

.slider_img {
  max-width: 700px;
}

.slide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }
}

.socialMedia img {
  max-width: 30px;
}

.Satisfied_client {
  margin-top: 100px;
  font-size: 20px;
  font-family: "Montserrat-Bold";
  margin-left: 50%;
  padding-bottom: 10px;
  border-bottom: solid 6px #e93656;
}

.Satisfied_client span {
  color: #e93656;
}

.myName {
  font-size: 30px;
  font-family: "GlacialIndifference-Bold";
}
.position {
  color: #daae19;
  font-size: 14px;
  font-family: "Muli-Light";
  padding-bottom: 20px;
}
.aboutMe_information {
  max-width: 334px;
  font-family: "Muli-Regular";
  padding-bottom: 30px;
}

.informationMe button {
  padding: 15px 40px;
  background-color: #e93656;
  color: aliceblue;
  border: none;
  margin-left: 27%;
  margin-bottom: 20px;
}
.informationMe {
  margin-top: 100px;
}

.myImage {
  max-width: 400px;
}

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-container {
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  display: grid;
  gap: 10px;
}

.progress-bar {
  height: 100%;
  padding: 5px;
  font-size: 20px;
  font-family: "GlacialIndifference-Bold";
}

#html-progress {
  border-bottom: 9px solid #e93656;
}

#css-progress {
  border-bottom: 9px solid #e93656;
}

#js-progress {
  border-bottom: 9px solid #e93656;
}
.PhonenumberIcon {
  max-width: 50px;
  border: 2px dashed #ffffff;
  border-radius: 100%;
  padding: 5px;
}
.addresInfo {
  max-width: 50px;
  background-color: #e93656;
  border-radius: 100%;
  padding: 10px;
}
.location {
  text-decoration: none;
}
.detail_information {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 70px;
  background-color: #131a36;
  padding-top: 60px;
  padding-bottom: 30px;
}
.Phone_Number,
.addres,
.Email {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.Email img {
  max-width: 50px;
  border: 2px dashed #ffffff;
  border-radius: 100%;
}

a {
  text-decoration: none;
}

.Phone_Number p,
.Phone_Number a,
.addres p,
.addres a,
.Email p,
.Email a {
  color: #f0f0f0;
}
.section_3 img {
  max-width: 60px;
  width: 100%;
}

.section_3 {
  margin-top: 200px;
  gap: 10px;
}

.services-tab {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
}

.Support,
.manage,
.QA,
.annalyse,
.idea,
.service {
  flex-direction: column;
  max-width: 285px;
  width: 100%;
  border: solid 1px #b9b6b6;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.hoverElement {
  display: none;
}

.Support:hover,
.manage:hover,
.QA:hover,
.annalyse:hover,
.idea:hover,
.service:hover {
  background-color: #131a36;
  color: #ffffff;
}
.main-title2 {
  font-size: 22px;
  font-family: "GlacialIndifference-Bold";
}

.txtHover {
  font-size: 14px;
  font-family: "GlacialIndifference-Bold";
}

.Support:hover .hoverElement,
.manage:hover .hoverElement,
.QA:hover .hoverElement,
.annalyse:hover .hoverElement,
.idea:hover .hoverElement,
.service:hover .hoverElement {
  display: block;
}

.idea:hover .main-title,
.service:hover .main-title,
.annalyse:hover .main-title,
.QA:hover .main-title,
.manage:hover .main-title,
.Support:hover .main-title {
  display: none;
}
.idea:hover img,
.service:hover img,
.annalyse:hover img,
.QA:hover img,
.manage:hover img,
.Support:hover img {
  display: none;
}

.recomendation {
  margin-top: 200px;
  background-image: url(/src/img/clip.jpg);
}
.slide2 {
  display: none;
}
.slide_info {
  gap: 50px;
  display: flex;
  align-items: center;
}
.dev_info {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.recomentadion_text {
  max-width: 497px;
  font-size: 15px;
  font-family: "roboto-Regular";
}
.dev_prof {
  color: #e93656;
  font-size: 13px;
  font-family: "roboto-Regular";
}
.dev_Name {
  font-size: 28px;
  color: #ffffff;
  font-family: "roboto-Regular";
}

.dev_photo {
  max-width: 140px;
  border-radius: 100%;
  border: dotted 4px rgb(255, 239, 239);
  padding: 5px;
}

.recomentadion_text,
.dev_Name {
  color: #ffffff;
}
.slide-buttons {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.slide-button {
  width: 13px;
  height: 13px;
  border: solid 2px #e93656;
  cursor: pointer;
}
.active,
.slide-button:hover {
  background-color: #3816cf;
}
.slide-button:hover {
  background-color: #e93656;
}
.slideshow_container {
  padding: 100px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
}
.latProj {
  font-size: 70px;
  font-family: "GlacialIndifference-Bold";
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.category {
  max-width: 250px;
  width: 100%;
  background-color: #131a36;
  color: white;
  display: grid;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  font-size: 20px;
  font-family: "GlacialIndifference-Bold";
}
.box {
  max-width: 250px;
  width: 100%;
}
.myProject {
  max-width: 900px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.filter {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 55px;
  margin-bottom: 150px;
}

#Icon,
#Presentation,
#Logo,
#MyPortf,
#SkyHouse,
#FindHouse {
  position: relative;
}
.myProject p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.projectText {
  background-color: #000000;
  max-width: 250px;
}
#Icon:hover .box,
#Presentation:hover .box,
#Logo:hover .box,
#MyPortf:hover .box,
#SkyHouse:hover .box,
#FindHouse:hover .box {
  display: none;
}
.lastArticle {
  font-size: 70px;
  font-family: "GlacialIndifference-Bold";
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.statia_Maintext {
  max-width: 470px;
  font-size: 12px;
  font-family: "Muli-Light";
}

.statia1_part1,
.statia2_part1 {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width:100%;
  padding-top: 170px;
  padding-bottom: 50px;
}
.statia1_title {
  font-size: 30px;
  font-family: "GlacialIndifference-Bold";
  max-width: 304px;
}
.freelance {
  font-size: 10px;
  color: #b9b6b6;
}
.statia_Maintext,
.statia1_title,
.freelance {
  margin-left: 30px;
}
.articleTime1 {
  color: #e93656;
  font-size: 20px;
  transform: matrix(0, -1, 1, 0, 0, 0);
  margin-top: 150px;
}
.statia1 {
  display: flex;
}
.statia1_part2 {
  background-color: #131a36;
}
.statia1_part3 {
  margin-left: 40px;
}
.statia2{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 30px;

}


.statia1_part3 img{
  max-width: 950px;
  width: 100%;
}
.container_5{
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.partnerTittle{
  font-size: 70px;
  font-family: "GlacialIndifference-Bold";
  justify-content: center;
  margin-top: 100px;
  display: flex;
  margin-bottom: 50px;
}

.partner_list{
  display: flex;
  gap: 100px;
}


.partner img{
  padding: 20px;
}
.partnerText{
  max-width: 164px;
  font-size: 13px;
}

.partnerHoverText{
  display: none;
  
  
}

.partner_1,
.partner_2,
.partner_3,
.partner_4{
  position: relative
}
.partner_1:hover .partnerHoverText,
.partner_2:hover .partnerHoverText,
.partner_3:hover .partnerHoverText,
.partner_4:hover .partnerHoverText{
  display:block;
  border: 4px solid crimson;
  max-width: 230px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-family:"GlacialIndifference-Bold" ;
  
}
.partner_1:hover img,
.partner_2:hover img,
.partner_3:hover img,
.partner_4:hover img{
  display: none;
}

footer{
  background-image:url('../img/map.jpg');
  max-width: 1920px;
  width: 100%;
}

.contactUs{
  font-size: 40px;
  font-family: 'Jaapokki-Regula';
  display: flex;
  justify-content: center;
}
.aboveContactUs{
  font-size: 17px;
  font-family:'Roboto_Light' ;
}
.small_input input{
  max-width: 290px;
  width: 80%;
  padding:10px;

}
.message{
  max-width: 890px;
  width:80% ;
  padding:30px;
}




  






